@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 65vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right bottom, rgba(3, 168, 244, 0.60), rgba(2, 118, 168, 0.60)), url('img/tourHeader.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo a img {
    height: 80px;
    width: 80px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('img/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

}

.toggle.active {
    background: url('img/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: #03a9f4;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text p a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tours-wrapper {
    position: relative;
    top: 65vh;
    width: 100%;
    min-height: 70vh;
    z-index: 1200;
    padding-top: 50px;
}


:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
.hero-section{
    align-items: flex-start;
    background: #fff;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}
  
.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
    margin-bottom: 100px;
}
  
@media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
}
  
.card{
    list-style: none;
    position: relative;
}
  
.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}
  
.card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
}
  
.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}
  
.card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
  
.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}
  
.card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}
  
.card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.footer {
    min-height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 50px;
    padding-top: 50px;
    background: rgba(3, 168, 244, 0.50);
}

.footer p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 18px;
}

.social {
    position: absolute;
    bottom: 20px;
    padding-left: 100px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}



@media (max-width: 798px) {
  .showcase,
  .showcase header {
      padding: 40px;
  }

  .text h3 {
      font-size: 2em;
  }
}

@media screen and (max-width: 1000px) {
    .social {
        width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -100%);  
    }

    .footer p {
        display: block;
        position: relative;
        bottom: -20px;
    }
}

